<div class="container">
    <h1>
      <%= @assignment.title %>
    </h1>
    <% if student? %>
      <%= draw_status(@assignment, current_user) %>
    <% end %>

    <p>
      <strong>Assigned:</strong>
      <%= @assignment.date.to_formatted_s(:long_ordinal) %><br>
      <strong>Due:</strong>
      <%= @assignment.due.to_formatted_s(:long_ordinal) %><br>
      <% if ((@assignment.due - DateTime.now)/3600) > 0 %>
      <strong>Hours Until Due:</strong>
      <%= ((@assignment.due - DateTime.now)/3600).to_i %>
      <% end %>
    </p>

      <%= markdown(@assignment.description) %>

    <% if teacher? %>
    <p>
      <h3>Students</h3>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @students.each do |student| %>
             <tr>
               <td>
                 <%= student.name %>
               </td>
               <td>
                 <%= draw_status(@assignment, student) %>
               </td>
               <td>
                 <% if status(@assignment, student) == 'no_submission' %>
                 <!-- <div class="button-bar"> -->
                    <ul class="button-group round">
                      <li><%= link_to 'Submission',
                                nil,
                                class: "tiny button regular disabled" %>
                      </li>
                      <li><%= link_to 'Review',
                                nil,
                                class: "tiny button success disabled" %>
                      </li>
                    </ul>
                  <!-- </div> -->
                  <% else %>
                  <% s_assignment = @assignment.get_submission(student) %>
                  <!-- <div class="button-bar"> -->
                     <ul class="button-group round">
                       <li><%= link_to 'Submission',
                               s_assignment.url,
                               class: "tiny button regular" %>
                       </li>
                       <li><%= link_to 'Review',
                               edit_assignment_submission_path(@assignment, s_assignment),
                               class: "tiny button success" %></li>
                     </ul>
                   <!-- </div> -->
                   <% end %>
               </td>
             </tr>
          <% end %>
        </tbody>
      </table>
    </p>
    <% end %>
    <div>
        <%= render 'submissions/form' %>
    </div>
    <div>
      <%= link_to 'See all Assignments', assignments_path, class: "button" %>
    </div>
</div>
