<%= form_for [@assignment, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this completed_assignment from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if student? %>
   <fieldset>
     <legend>Submit Assignment for Review</legend>
     <div class="field">
       <%= f.hidden_field :user_id, value: session[:user_id] %>
     </div>
     <div class"row collapse">
       <div class="field large-10 columns">
         <%= f.url_field :url, placeholder: "Paste Github URL here" %>
       </div>
       <div class="large-2 columns">
         <%= f.submit "Submit", class: "button postfix" %>
       </div>
     </div>
     <% end %>
   </fielset>
  <% if teacher? %>
    <div class="field">
      <%= f.hidden_field :user_id, value: session[:student_id] %>
    </div>
    <div>
      Completed to specifications? <%= f.check_box :complete %><br>
      <%= f.submit "Approve" %>
    </div>
  <% end %>
<% end %>
